@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap");
body {
  font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

#hero,
#contact-me {
  background-color: rgb(240, 240, 240);
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

@media (max-width: 576px) {
  .profile-pic {
    width: 100%;
  }

  .responsive-text {
    font-size: 16px;
  }
}
